{% extends "base.html" %} {% block title%}Home{% endblock %}
{% block content %} 
<form method="GET">
<h1 align="center">  </h1>    
<h1 align="center">About Me</h1>
<p>Hi, my name is Mahir Khandokar. I am a second year university student at Queen's University at Kingston majoring in Computer Science. 
My interests mainly pertain to technology as I am fond of all kinds of technology and the new innovations that come with technological progression. I enjoy software development (as can be seen on this website) and am pursuing a career in the field.
I am fairly experienced with around 2 years of experience. I look forward to any opportunities to join the workforce and gain invaluable experience alongside some of brightest minds in the industry. If you would like to get in touch please email me at mahirkhandokar@gmail.com.  
</p>
<br />
<hr />
<h1 align="center">Resume</h1>
<!--don't add the cover letter for the resume section-->
<iframe
    src="https://docs.google.com/document/d/e/2PACX-1vSvG0Sr5nsiNB_93sR7C4YLXLcx0iSzBHNo9_z9wb2J245Mua2t7GoOc2t6Tub-x4XeQit3QNW8GEBS/pub?embedded=true"
    frameBorder="0"
    scrolling="auto"
    height="1000 px"
    width="75%"
></iframe>
</form>
{% endblock %}
