{% extends "base.html" %} {% block title%}Other Projects{% endblock %}
{% block content %}    
<form method="GET">
    <h1 align="center">  </h1>
    <h2 align="center">Websites</h2>
    <h4 align="left">Personal Website</h4>
    <p><b>Project description:</b> The webiste you're on right now! It was built primarily using HTML5 and some Python 3, Flask and a mostly Bootstrap and a little CSS for the front-end.</p>
    <br />
    <a href= 'https://github.com/mahirkhandokar/my_site'>Check it out at GitHub!</a>
    <br />  
    <hr />
    <h1 align="center">  </h1>
    <h2 align="center">Contact</h2>
    <p>If you would like to contact me, please use the email address below:</p>
    <h6 align="left"><b>Email:</b> mahirkhandokar@gmail.com</h6>
    <br />
    <br />
</form>
{% endblock %}